.container {
  text-align: center;
}

.title {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title span {
  color: aqua;
}

.reset {
  width: 200px;
  height: 80px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background: #d45d5d;
  font-size: 26px;
  color: black;
  margin-top: 25px;
  margin-bottom: 50px;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 180px;
  width: 180px;
  background: #1f3540;
  border: 4px solid #0f1b21;
  border-radius: 12px;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.boxes img {
  width: 100px;
  height: 100px;
  transition: transform 0.2s ease;
}

.boxes img:hover {
  transform: scale(1.05);
}

.board {
  height: 600px;
  width: 564px;
  display: flex;
  margin: auto;
}

.title img {
  padding: 20px 20px;
  height: 50px;
}
